.element {
 width: 100%;
 background: var(--gray-300);

 margin-top: 1.5rem;
 padding: 1rem 2rem;

 display: grid;
 grid-template-columns: 70px 1fr;
 gap: 1.75rem;
 transition: background .2s;

 box-shadow: 3px 3px 16px #00000055;
}

.element:hover {
  background: var(--gray-400);
  cursor: pointer;
}

.resImage {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.element section {
  font-size: 1.125rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: .8rem;
}

.nomeData {
  font-size: 1.125rem;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.nomeData time {
  font-size: .875rem;
  font-weight: bold;
  color: var(--white);
}

.content {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
}

.content > span {
  font-size: 1rem;
  line-height: 1rem;
  color: var(--white);

}

.content fieldset {
  border: none;
}