.formModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  
}

.formModal h2 {
  font-size: 3rem;
}

.formModal fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formModal fieldset label {
  font-size: 1.2rem;
}

.formModal fieldset input, .textAreaComp {
  outline: none;
  padding: .5rem .8rem;
  resize: none;
  box-shadow: 15px 15px 29px #00000025;
  border-radius: 15px;
  border: none;
}

.textAreaComp {
  height: 6rem;
}

.buttonArea {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.buttonArea button {
  width: 248px;
  padding: 1.375rem 3.5rem;
  font-size: 1.5rem;
  font-weight: bold;

  background: transparent;
  border-radius: 25px;

  cursor: pointer;
}

.cancelButton {
  color: var(--red-alert);
  border: 2px solid var(--red-alert);

  transition: color .2s, background .2s;
}

.cancelButton:hover {
  background: var(--red-alert);
  color: var(--white);
}

.addButton {
  color: var(--green-strong);
  border: 2px solid var(--green-strong);

  transition: color .2s, background .2s;
}

.addButton:hover {
  background: var(--green-strong);
  color: var(--white);
}