.search {
  width: 100%;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  display: grid;
  grid-template-columns: 1fr 156px;
  align-items: flex-end;
  gap: 1rem;
}

.search label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  font-size: 1.5rem;
}

.search label input {
  width: 570px;
  height: 56px;
  border-radius: 15px;
  border: none;
  outline: none;

  font-size: 1.2rem;
  padding: .5rem .8rem;
}

.addButton {
  height: 56px;
  border-radius: 15px;
  background: transparent;
  border: 2px solid var(--green-strong);

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  font-weight: bold;
  color: var(--green-strong);

  transition: all .2s;
}

.addButton:hover {
  background: var(--green-strong);
  color: var(--white);
}