:root {
  --white: #000F08;
  --gray-bk: #4C212A;
  --gray-500: #E9EB87;
  --gray-400: #AF2BBF;
  --gray-300: #5C80BC;
  --red-alert: #BE2828;

  --green-strong: #2D9A24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-bk);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

body, textarea, input, button {
  font: 400 1rem "Roboto", sans-serif;
}

/* modal */
.Modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal {
  width: 100%;
  max-width: 600px;
  background: var(--gray-500);
  padding: 2rem 1.875rem;
  position: relative;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .Modal {
    padding: 2rem 1rem;
    max-width: 320px;
  }
}